In [187]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.metrics as sm
%matplotlib inline

In [188]:
dataset_rawmat= pd.read_csv('dataset_rawmat.csv')

In [189]:
dataset_rawmat

    Squre feet  thickness  cement (bag)  sand (cft)  bricks(sqft)  steel (kg)
0            1          4            76         1.8          1.45           4
1          500          4         38000       900.0        725.00        2000
2          600          4         45600      1080.0        870.00        2400
3          900          4         68400      1620.0       1305.00        3600
4         1000          4         76000      1800.0       1450.00        4000
5         2000          4        152000      3600.0       2900.00        8000
6         2500          4        190000      4500.0       3625.00       10000
7         3000          4        228000      5400.0       4350.00       12000
8         3500          4        266000      6300.0       5075.00       14000
9            1          6            95         1.8          1.45           4
10         500          6         47500       900.0        725.00        2000
11         600          6         57000      1080.0        870.00        2400
12         900          6         85500      1620.0       1305.00        3600
13        1000          6         95000      1800.0       1450.00        4000
14        2000          6        190000      3600.0       2900.00        8000
15        2500          6        237500      4500.0       3625.00       10000
16        3000          6        285000      5400.0       4350.00       12000
17        3500          6        332500      6300.0       5075.00       14000

In [190]:
dataset_rawmat.describe()

,Squre feet,thickness,cement (bag),sand (cft),bricks(sqft),steel (kg)
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,1555.666667,5.000000,133009.500000,2800.200000,2255.716667,6222.666667
std,1195.044277,1.028992,103923.741039,2151.079698,1732.814201,4780.177107
min,1.000000,4.000000,76.000000,1.800000,1.450000,4.000000
25%,600.000000,4.000000,49875.000000,1080.000000,870.000000,2400.000000
50%,1000.000000,5.000000,90250.000000,1800.000000,1450.000000,4000.000000
75%,2500.000000,6.000000,218500.000000,4500.000000,3625.000000,10000.000000
max,3500.000000,6.000000,332500.000000,6300.000000,5075.000000,14000.000000

In [191]:
sum(dataset_rawmat.isnull().sum())

0

In [192]:
print((dataset_rawmat[['Squre feet','thickness','cement (bag)','sand (cft)','bricks(sqft)','steel (kg)']]==0).sum())

Squre feet      0
thickness       0
cement (bag)    0
sand (cft)      0
bricks(sqft)    0
steel (kg)      0
dtype: int64

In [193]:
x = dataset_rawmat['Squre feet']
x

0        1
1      500
2      600
3      900
4     1000
5     2000
6     2500
7     3000
8     3500
9        1
10     500
11     600
12     900
13    1000
14    2000
15    2500
16    3000
17    3500
Name: Squre feet, dtype: int64

In [194]:
y = dataset_rawmat.drop(['Squre feet','thickness'],axis=1)
y

    cement (bag)  sand (cft)  bricks(sqft)  steel (kg)
0             76         1.8          1.45           4
1          38000       900.0        725.00        2000
2          45600      1080.0        870.00        2400
3          68400      1620.0       1305.00        3600
4          76000      1800.0       1450.00        4000
5         152000      3600.0       2900.00        8000
6         190000      4500.0       3625.00       10000
7         228000      5400.0       4350.00       12000
8         266000      6300.0       5075.00       14000
9             95         1.8          1.45           4
10         47500       900.0        725.00        2000
11         57000      1080.0        870.00        2400
12         85500      1620.0       1305.00        3600
13         95000      1800.0       1450.00        4000
14        190000      3600.0       2900.00        8000
15        237500      4500.0       3625.00       10000
16        285000      5400.0       4350.00       12000
17        332500      6300.0       5075.00       14000

In [ ]:
x_train = x
y_train = y
x_test = x
y_test = y

In [ ]:
x_train

In [ ]:
y_train

In [ ]:
x_test

In [ ]:
y_test