In [246]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.metrics as sm
%matplotlib inline

In [247]:
dataset_plans= pd.read_csv('dataset_plans.csv')

In [248]:
dataset_plans

    Bed rooms  Bath rooms  Living rooms  Kitchen Images
0           1           1             1        1     P1
1           1           1             1        1     P2
2           1           1             1        1     P3
3           1           1             1        1     P4
4           1           1             1        1     P5
5           1           1             1        1     P6
6           1           1             1        1     P7
7           1           1             1        1     P8
8           1           1             1        1     P9
9           1           1             1        1    P10
10          1           1             1        1    P11
11          1           2             1        1    P12
12          1           2             1        1    P13
13          2           1             1        1     B1
14          2           1             1        1     B4
15          2           1             1        1     B5
16          2           1             1        1     B9
17          2           2             1        1     B2
18          2           2             1        1     B3
19          2           2             1        1     B6
20          2           2             1        1     B7
21          2           2             1        1     B7
22          3           1             1        1     R3
23          3           1             1        1     R6
24          3           1             1        1    R10
25          3           2             1        1     R1
26          3           2             1        1     R2
27          3           2             1        1     R4
28          3           2             1        1     R5
29          3           2             1        1     R7
30          3           2             1        1     R8
31          3           2             1        1     R9

In [249]:
dataset_plans.describe()

       Bed rooms  Bath rooms  Living rooms  Kitchen
count  32.000000   32.000000          32.0     32.0
mean    1.906250    1.437500           1.0      1.0
std     0.856074    0.504016           0.0      0.0
min     1.000000    1.000000           1.0      1.0
25%     1.000000    1.000000           1.0      1.0
50%     2.000000    1.000000           1.0      1.0
75%     3.000000    2.000000           1.0      1.0
max     3.000000    2.000000           1.0      1.0

In [250]:
sum(dataset_plans.isnull().sum())

0

In [251]:
print((dataset_plans[['Bed rooms','Bath rooms','Living rooms','Kitchen']]==0).sum())

Bed rooms       0
Bath rooms      0
Living rooms    0
Kitchen         0
dtype: int64

In [252]:
x = dataset_plans.drop(['Images'],axis=1)
x

    Bed rooms  Bath rooms  Living rooms  Kitchen
0           1           1             1        1
1           1           1             1        1
2           1           1             1        1
3           1           1             1        1
4           1           1             1        1
5           1           1             1        1
6           1           1             1        1
7           1           1             1        1
8           1           1             1        1
9           1           1             1        1
10          1           1             1        1
11          1           2             1        1
12          1           2             1        1
13          2           1             1        1
14          2           1             1        1
15          2           1             1        1
16          2           1             1        1
17          2           2             1        1
18          2           2             1        1
19          2           2             1        1
20          2           2             1        1
21          2           2             1        1
22          3           1             1        1
23          3           1             1        1
24          3           1             1        1
25          3           2             1        1
26          3           2             1        1
27          3           2             1        1
28          3           2             1        1
29          3           2             1        1
30          3           2             1        1
31          3           2             1        1

In [253]:
y = dataset_plans['Images']
y

0      P1
1      P2
2      P3
3      P4
4      P5
5      P6
6      P7
7      P8
8      P9
9     P10
10    P11
11    P12
12    P13
13     B1
14     B4
15     B5
16     B9
17     B2
18     B3
19     B6
20     B7
21     B7
22     R3
23     R6
24    R10
25     R1
26     R2
27     R4
28     R5
29     R7
30     R8
31     R9
Name: Images, dtype: object

In [254]:
x_train = x
y_train = y

In [255]:
x_test = x
y_test = y

In [256]:
x_train

    Bed rooms  Bath rooms  Living rooms  Kitchen
0           1           1             1        1
1           1           1             1        1
2           1           1             1        1
3           1           1             1        1
4           1           1             1        1
5           1           1             1        1
6           1           1             1        1
7           1           1             1        1
8           1           1             1        1
9           1           1             1        1
10          1           1             1        1
11          1           2             1        1
12          1           2             1        1
13          2           1             1        1
14          2           1             1        1
15          2           1             1        1
16          2           1             1        1
17          2           2             1        1
18          2           2             1        1
19          2           2             1        1
20          2           2             1        1
21          2           2             1        1
22          3           1             1        1
23          3           1             1        1
24          3           1             1        1
25          3           2             1        1
26          3           2             1        1
27          3           2             1        1
28          3           2             1        1
29          3           2             1        1
30          3           2             1        1
31          3           2             1        1

In [257]:
y_train

0      P1
1      P2
2      P3
3      P4
4      P5
5      P6
6      P7
7      P8
8      P9
9     P10
10    P11
11    P12
12    P13
13     B1
14     B4
15     B5
16     B9
17     B2
18     B3
19     B6
20     B7
21     B7
22     R3
23     R6
24    R10
25     R1
26     R2
27     R4
28     R5
29     R7
30     R8
31     R9
Name: Images, dtype: object

In [258]:
x_test

    Bed rooms  Bath rooms  Living rooms  Kitchen
0           1           1             1        1
1           1           1             1        1
2           1           1             1        1
3           1           1             1        1
4           1           1             1        1
5           1           1             1        1
6           1           1             1        1
7           1           1             1        1
8           1           1             1        1
9           1           1             1        1
10          1           1             1        1
11          1           2             1        1
12          1           2             1        1
13          2           1             1        1
14          2           1             1        1
15          2           1             1        1
16          2           1             1        1
17          2           2             1        1
18          2           2             1        1
19          2           2             1        1
20          2           2             1        1
21          2           2             1        1
22          3           1             1        1
23          3           1             1        1
24          3           1             1        1
25          3           2             1        1
26          3           2             1        1
27          3           2             1        1
28          3           2             1        1
29          3           2             1        1
30          3           2             1        1
31          3           2             1        1

In [259]:
y_test

0      P1
1      P2
2      P3
3      P4
4      P5
5      P6
6      P7
7      P8
8      P9
9     P10
10    P11
11    P12
12    P13
13     B1
14     B4
15     B5
16     B9
17     B2
18     B3
19     B6
20     B7
21     B7
22     R3
23     R6
24    R10
25     R1
26     R2
27     R4
28     R5
29     R7
30     R8
31     R9
Name: Images, dtype: object